#discoverour{
    display: flex;
    justify-content: center;
   
.gb{
    border: 1px solid lightgray;
}
.fv{
    border: 1px solid lightgray;
}
.ah{
    border: 1px solid lightgray;
}
.sf{
    border: 1px solid lightgray;
}
.mh{
    border: 1px solid lightgray;
}
.sw{
    border: 1px solid lightgray;
}
.swv{
    border: 1px solid lightgray;
}
.un{
    border: 1px solid lightgray;
}
.bl{
    border: 1px solid lightgray;
}
.ow{
    border: 1px solid lightgray;
}



}