#footer{
background-color: gray;
width: 100%;
height: 50VH;
display: flex;
justify-content: center;
text-align: center;
gap: 40px;
.tasty{
    width: 25%;
}
.op{
    width: 25%;
}
.ci{
width: 25%;
}
.ns{
    width: 25%;
}
}